footer {
    .footer__top {
        background-color: $black-4;
        color: $white-0;
        .container {
            padding: $pd-8 + 10 0;
            a {
                color: $white-0;
                text-decoration: none;
            }
            li {
                list-style: none;
            }
        }
        .col-lg-3 {
            padding-left: $pd-3;
            padding-right: $pd-3;
            .logo-footer {
                margin-bottom: $mg-2 - 5;
            }
            p {
                margin: 0 0 4 $mg-3;
                color: $gray-0;
                line-height: $lh-1;
            }
            h5 {
                font-size: $fs-0 - 1;
                letter-spacing: $ls-1 - 4;
                margin-bottom: $mg-3;
            }
            .r-list {
                padding: 0;
                margin: 0;
                li {
                    border-bottom: 1px solid $black-1;
                    .a-link {
                        display: block;
                        color: $black-8;
                        line-height: $lh-1 + 15;
                        transition: 0.5s;
                        &::before {
                            padding-right: $pd-1 + 5;
                            content: "\f105";
                            font-family: "fontawesome";
                            color: $black-8;
                            line-height: $lh-1 + 15;
                            font-size: $fs-0;
                            font-weight: $fw-0;
                        }
                        &:hover {
                            &::before {
                                color: $yellow-0;
                            }
                            color: $yellow-0;
                        }
                    }
                }
            }
            .r-work {
                margin: 0;
                padding: 0;
                ul {
                    margin: 0;
                    padding: 0;
                    list-style: none;
                }
                li {
                    float: left;
                    list-style: none;
                    a {
                        margin: 0 $mg-1 $mg-1 0;
                    }
                    img {
                        width: 55px;
                        height: 55px;
                    }
                }
            }
        }
    }
    .footer__bottom {
        display: inline-block;
        width: 100%;
        padding: $pd-4 0;
        border-top: 1px solid $black-9;
        background: $black-7;
        font-weight: normal;
        .col-lg-6 {
            padding-left: $mg-3;
            padding-right: $mg-3;
            .footer__text {
                color: $gray-10;
                margin-top: $mg-1;
                .f-link {
                    color: $white-0;
                    transition: 0.5s;
                    text-decoration: none;
                    &:hover {
                        color: $yellow-0;
                    }
                }
            }
            .footer__icon {
                float: right;
                a {
                    width: 35px;
                    height: 35px;
                    text-align: center;
                    border: 1px solid $black-10;
                    border-radius: 50%;
                    line-height: $lh-1 + 5;
                    display: inline-block;
                    margin: 0 0 0 $mg-1 + 5;
                    color: $black-10;
                    font-size: $fs-1;
                    transition: all 0.3s;
                    i {
                        font-size: $fs-1;
                    }
                    &:hover {
                        color: $white-0;
                        border: 1px solid transparent;
                        background: $black-10;
                    }
                }
            }
        }
    }
    @include responsive ("large"){
        .footer__top{
            .col-lg-3{
                .r-list{
                    margin:$mg-5 0;
                }
            }
            .row{
                margin:0;
            }
        }
        .footer__bottom{
            .col-lg-6{
                .footer__icon{
                    float: left;
                    margin-top: $mg-1;
                    a:first-child{
                        margin-left: 0;
                    }
                }
            }
        }
    }
    @include responsive ("medium"){
        .container{
            max-width: 100%;
        }
        
    }
}
